.p1{
    height: 18rem;
    width: 14rem;
     border: 2px solid black;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 1rem;
}
.imgDiv{
    height: 100%;
    width: 100%;
}
img{
    height: 100%;
    width: 100%;
}
